/*****************************************/
/**************** HEADER *****************/
/*****************************************/

.c_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    color: var(--color-dark-v60);
}

.c_menu li, .c_menu-bottom li{
    padding: var(--margin-medium);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.c_menu a{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

.c_menu-aside{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100vw;
    background-color: white;
    box-shadow: 0 0 20px 0px var(--color-dark-v40);
    z-index: 50;
}

.c_menu-aside .content{
    margin-top: calc(var(--margin-medium) * 2 + var(--line-height) * 2);
}


@media only screen and (min-width: 995px){
    .c_menu{
        background-color: unset;
    }

    .c_menu-aside .content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
}

/*****************************************/
/***************** FOOTER ****************/
/*****************************************/

.c_footer{
    background-color: var(--color-dark-v40);
    min-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.c_footer > *{
    pointer-events: auto;
}

.c_footer .l_container ~ .l_container{
    padding-top: var(--margin-large);
}

.c_footer p{
    font-weight: 700;
}

@media only screen and (min-width: 661px){
    .c_footer{
        min-height: 66vh;
    }
}

@media (orientation: landscape) and (max-width: 995px){
    .c_footer{
        min-height: 100vh;
    }
}

/*****************************************/
/***************** TEXTE *****************/
/*****************************************/

.c_text-alignRight{
    text-align: right;
}

.c_text-alignMiddle{
    text-align: center;
}

.c_text-alignRight-m{
    text-align: left;
}

.c_text-alignMiddle-m{
    text-align: left;
}

.c_text-floatRight{
    float: right;
}

.c_link{
    text-decoration: none;
    display: block;
    color: var(--color-dark-v60);
    font-weight: 700;
    transition: padding-left .3s ease;
}

p > .c_link{
    display: inline;
}

.c_link:hover{
    color: var(--color-primary-100);
    padding-left: .5rem;
    transition: .3s ease;
}

.c_text-alignRight.c_link:hover{
    padding-right: .5rem;
}

.c_link-inline{
    display: inline-block;
}

.c_link-nav{
    font-size: var(--font-size-bigLink);
    line-height: var(--line-height-bigLink);
    text-transform: none;
    color: var(--color-dark-v40);
    border-top: 1px solid var(--color-dark-v10);
}

.c_link-nav:hover{
    color: var(--color-primary-100);
}

.c_link-nav:last-of-type{
    border-bottom: 1px solid var(--color-dark-v10);
}

.c_link-nav-empty{
    margin-bottom: var(--line-height-bigLink);
    border-bottom: 1px solid var(--color-dark-v10);
}

.c_page-title{
    margin-top: 10rem;
}

.c_page-title h2{
    font-weight: 700;
}

.c_content{
    margin-top: var(--margin-medium);
}

.c_content-s{
    margin-top: var(--margin-medium);
}

.c_content h4{
    margin-bottom: var(--margin-small);
    color: var(--color-dark-v20);
}

.c_content p{
    font-weight: 700;
}

@media only screen and (min-width: 661px){
    .c_text-alignRight-m{
        text-align: right;
    }
    
    .c_text-alignMiddle-m{
        text-align: center;
    }

    .c_content-s{
        margin-top: initial;
    }
}

@media only screen and (min-width: 995px){
    .c_content-ml-2{
        margin-left: calc(100% / 6);
    }

    .c_content-pl-2{
        padding-left: calc(100% / 6) !important;
    }
}

/*****************************************/
/****************** FORM *****************/
/*****************************************/

.c_input, .c_input::placeholder, .c_input-textarea{
    width: 100%;
    text-transform: uppercase;
    color: var(--color-dark-v20);
}

.c_input{
    width: 100%;
    color: var(--color-dark-v60);
}

.c_input-text{
    padding: .9rem 0 .7rem 0;
}

.c_input-textarea{
    min-height: 5ch;
    height: 15ch;
    resize: vertical;
    padding: .9rem 0 .7rem 0;
    text-transform: none;
    font-weight: var(--font-weight-normal);
}

.c_input-submit{
    text-align: left;
    padding: .9rem 0 .7rem 0;
    transition: .3s ease;
}

.c_input-submit:hover{
    cursor: pointer;
    color: var(--color-primary-100);
    padding-left: .5rem;
    transition: .3s ease;
}

.c_input-fake{
    padding: .9rem 0 .7rem 0;
}

.marginEnd{
    border-bottom: 1px solid var(--color-dark-v20);
    margin-bottom: var(--margin-large);
}

/*****************************************/
/****************** TILE *****************/
/*****************************************/

.c_tile{
    min-width: 100%;
    width: auto;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.c_tile-primary{
    height: 70vh;
}

.c_tile-secondary{
    height: 30vh;
}

.c_tile-tertiary{
    height: 20vh;
}

.c_tile_text{
    height: 100%;
    background-color: red;
}

.c_tile .c_tile-content{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.c_tile_img-fullHeight{
    height: 100vh;
}

.c_tile_img img{
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.c_tile_img .c_tile_img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: var(--margin-medium);
}

.c_tile_img .c_tile_img-overlay:hover{
    background-color: rgba(30, 30, 30, 0.4);
    cursor: pointer;
}

.c_tile_img .c_tile_img-background{
    background-color: grey;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 995px){
    .c_tile-primary{
        height: 100vh;
    }
    
    .c_tile-secondary{
        height: 50vh;
    }
    
    .c_tile-tertiary{
        height: 50vh;
    }
}


/*****************************************/
/**************** SIGNAGE ****************/
/*****************************************/

.c_bubble{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: var(--color-secondary-60);
    margin: var(--margin-medium);
}

.c_bubble .c_bubble-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, 50%);
}


/*****************************************/
/***************** IMAGE *****************/
/*****************************************/


/*****************************************/
/*************** IMGFILTER ***************/
/*****************************************/

.c_img-filter{
    width: 100%;
    height: 100%;
}


/*****************************************/
/**************** DIVERS *****************/
/*****************************************/

.c_streak-top{
    border-top: 1px solid var(--color-dark-v20);
}

.c_streak{
    border-top: 1px solid var(--color-dark-v20);
    border-bottom: 1px solid var(--color-dark-v20);
}

.c_carriage{
    margin-bottom: var(--line-height);
}

.c_carriage-2-l{
    margin-bottom: var(--line-height);
}

@media only screen and (min-width: 995px){
    .c_streak-m-horizontal{
        border-left: 1px solid var(--color-dark-v10);
        border-right: 1px solid var(--color-dark-v10);
    }

    .c_carriage-2-l{
        margin-bottom: calc(var(--line-height) * 2);
    }
}