/*****************************************/
/**************** HEADER *****************/
/*****************************************/

.c_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    color: var(--color-dark-v60);
}

.c_menu li, .c_menu-bottom li{
    padding: var(--margin-medium);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.c_menu .l_container li.l_col:last-of-type{
    padding-left:0;
}

.c_menu a{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

.c_menu-aside{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100vw;
    background-color: white;
    box-shadow: 0 0 20px 0px var(--color-dark-v40);
    z-index: 50;
}

.c_menu-aside .content{
    margin-top: calc(var(--margin-medium) * 2 + var(--line-height) * 2);
}


@media only screen and (min-width: 995px){
    .c_menu{
        background-color: unset;
    }

    .c_menu-aside .content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
}

/*****************************************/
/***************** FOOTER ****************/
/*****************************************/

.c_footer{
    background-color: var(--color-dark-v40);
    min-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.c_footer > *{
    pointer-events: auto;
}

.c_footer .l_container ~ .l_container{
    padding-top: var(--margin-large);
}

.c_footer p{
    font-weight: var(--font-weight-bold);
}

@media only screen and (min-width: 661px){
    .c_footer{
        min-height: 66vh;
    }
}

@media (orientation: landscape) and (max-width: 995px){
    .c_footer{
        min-height: 100vh;
    }
}

/*****************************************/
/***************** TEXTE *****************/
/*****************************************/

.c_text-alignRight{
    text-align: right;
}

.c_text-alignMiddle{
    text-align: center;
}

.c_text-alignRight-m{
    text-align: left;
}

.c_text-alignMiddle-m{
    text-align: left;
}

.c_text-floatRight{
    float: right;
}

.c_link{
    text-decoration: none;
    display: block;
    color: var(--color-dark-v60);
    font-weight: 700;
    transition: padding-left .3s ease;
    cursor: pointer;
}

p > .c_link{
    display: inline;
}

.c_link:hover{
    color: var(--color-primary-100);
    padding-left: .5rem;
    transition: .3s ease;
}

.c_text-alignRight.c_link:hover{
    padding-right: .5rem;
}

.c_link-inline{
    display: inline-block;
}

.c_link-nav{
    font-size: var(--font-size-bigLink);
    line-height: var(--line-height-bigLink);
    text-transform: none;
    color: var(--color-dark-v40);
    border-top: 1px solid var(--color-dark-v10);
}

.c_link-nav:hover{
    color: var(--color-primary-100);
}

.c_link-nav:last-of-type{
    border-bottom: 1px solid var(--color-dark-v10);
}

.c_link-nav-empty{
    margin-bottom: var(--line-height-bigLink);
    border-bottom: 1px solid var(--color-dark-v10);
}

.c_page-title{
    margin-top: 10rem;
}

.c_page-title.white h1{
    color: white;
}

.c_page-title h2{
    font-weight: 700;
}

.c_sect-title{
    padding-bottom: var(--margin-medium);
}

.c_sect-title h5{
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-100);
}

.c_sect-title.floating{
    position: absolute;
    z-index: 10;
    top: var(--margin-medium);
    left: var(--margin-medium);
}

.c_content{
    margin-top: var(--margin-medium);
}

.c_content-s{
    margin-top: var(--margin-medium);
}

.c_content h4{
    margin-bottom: var(--margin-small);
    color: var(--color-dark-v20);
}

.c_content p{
    font-weight: var(--font-weight-bold);
}

.c_content-longText h2{
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-bold);
}

.c_content-longText p{
    text-transform: none;
    font-size: var(--font-size-bigText);
    line-height: var(--line-height-bigText);
}

.c_content-longText p~p{
    margin-top: var(--line-height);
}

@media only screen and (min-width: 661px){
    .c_text-alignRight-m{
        text-align: right;
    }
    
    .c_text-alignMiddle-m{
        text-align: center;
    }

    .c_content-s{
        margin-top: initial;
    }
}

@media only screen and (min-width: 995px){
    .c_content-ml-2{
        margin-left: calc(100% / 6);
    }

    .c_content-pl-2{
        padding-left: calc(100% / 6) !important;
    }
}



/*****************************************/
/***************** BLOCK *****************/
/*****************************************/

.c_block-text p{
    text-transform: none;
    color: var(--color-dark-v60);
    font-size: var(--font-size-bigText);
    line-height: var(--line-height-bigText);
    padding-bottom: var(--margin-medium);
}

p.c_block-text-secondary{
    color: var(--color-dark-v20);
}

.c_block-tile{
    border-left: 1px solid var(--color-primary-100);
    border-right: 1px solid var(--color-primary-100);
    margin-left: var(--margin-xsmall-negative);
    margin-right: var(--margin-xsmall-negative);
    padding-left: var(--margin-xsmall);
    height: 40vh;
    position: relative;
}

.c_index-listItem .c_block-tile{
    height: 100%;
}

.bg-secondary .c_block-title{
    color: var(--color-primary-100);
}

.c_block-tile.last{
    margin-right: var(--margin-xsmall-negative);
    border-right: 1px solid var(--color-primary-100);
}

.c_block-tile.c_block-tile-100{
    padding: var(--margin-medium);
    margin-left: 0;
    margin-right: 0;
    height: 50vh;
}

.c_block-tile.c_block-tile-100:hover{
    background-color: var(--color-dark-o60);
}

.c_block-tile.c_block-tile-100:hover .c_block-title{
    color: var(--color-primary-100);
}

.c_block-tile.c_block-tile-100 .c_block-title{
    color: white;
}

.c_block-tile.c_block-tile-100 .c_bubble{
    margin-top: calc(var(--margin-xlarge));
}

.bg-primary .c_block-tile{
    border-left: 1px solid var(--color-dark-v10);
    border-right: 1px solid var(--color-dark-v10);
}

.bg-primary .c_block-tile.last{
    border-right: 1px solid var(--color-dark-v10);
}

.bg-secondary .c_block-tile{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.bg-secondary .c_block-tile.last{
    border-right: 1px solid white;
}

.c_block-tile .c_block-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.c_block-tile-hover{
    height: 35vh;
    transition: .3s ease;
    margin-left: 0;
    margin-left: var(--margin-xsmall-negative);
    padding-left: var(--margin-xsmall);
}

.c_block-tile-hover:hover{
    background-color: var(--color-primary-100);
}

.c_block-tile-hover .c_block-title{
    padding-top: 8vh;
    text-align: center;
}

.c_block-dropdown-title{
    color: var(--color-dark-v60);
    width: 100%;
    border-top: 1px solid var(--color-dark-v20);
    font-weight: var(--font-weight-bold);
    padding-top: var(--line-height); 
}

h5.c_block-dropdown-title{
    margin: 0;
    padding-bottom: var(--line-height);
}

.c_block-dropdown-title span{
    text-align: right;
}

@media only screen and (min-width: 661px){

    .c_block-tile{
        border-right: none;
    }

    .c_block-tile.last{
        margin-right: 0;
    }

    .bg-primary .c_block-tile{
        border-right: none;
    }

    .bg-secondary .c_block-tile{
        border-right: none;
    }
    
    .c_block-tile-hover{
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .c_block-tile-hover .c_bubble{
        margin: unset;
    }

    .c_block-tile.c_block-tile-100{
        height: 100vh;
    }
}

/*****************************************/
/****************** INDEX ****************/
/*****************************************/

.c_index{
    padding-bottom: calc(var(--margin-large) * 3);
}

.c_index p{
    text-transform: none;
}

.c_index-title{
    margin-bottom: var(--margin-medium);
    font-weight: var(--font-weight-normal);
}

.c_index-title p:before{
    border-left: 1px solid var(--color-dark-v20);
    content: " ";
    margin-left: var(--margin-xsmall-negative);
    padding-left: var(--margin-xsmall);
}

.c_index-title p, .c_index-title span{
    font-size: var(--font-size-bigText);
}

.c_palmares .c_index-title p{
    color: white;
}

.c_palmares .c_index-listItem~.c_index-listItem{
    margin-top: var(--margin-medium);
}

.c_index-item{
    margin-top: var(--margin-xxsmall);
}

.c_index-item p, .c_index-item span{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-bigText);
}

.c_palmares .c_index-item p, .c_palmares .c_index-item span{
    color: white;
}

.c_index-item .s12{
    order: 4;
    color: var(--color-dark-v40);
    margin-left: calc(100% / 4);
    margin-top: var(--margin-xxsmall);
}

.c_index-big .c_index-item p{
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v20);
}

.c_index-big .c_index-title p{
    color: var(--color-dark-v20);
}

.c_index-big .c_index-item:hover p{
    color: var(--color-primary-100);
    cursor: pointer;
}

.c_slide{
    cursor: pointer;
}

.c_slide .c_slide-hidden{
    display: none;
}

.c_description .c_slide .c_slide-hidden{
    padding-bottom: var(--line-height);
}

.c_index-item.c_slide .c_slide-hidden, .c_index-item.c_slide .c_slide-hidden span{
    font-weight: var(--font-weight-normal);
}

.c_index-item .c_slide p.c_slide-hidden:first-of-type{
    margin-top: 5vh;
}

.c_slide .c_slide-hidden.show{
    display: block;
}

.c_slide.last{
    border-bottom: 1px solid var(--color-dark-v20);
    margin-bottom: var(--margin-medium);
}

.c_index-listItem > .l_col{
    margin-top: var(--margin-medium);
}

@media only screen and (min-width: 661px){
    .c_index-item.c_slide .c_slide-hidden, .c_index-item.c_slide .c_slide-hidden span{
        font-weight: var(--font-weight-bold);
    }
}

@media only screen and (min-width: 995px){

    .c_index-title{
        margin-bottom: var(--margin-xlarge);
    }

    .c_index .c_index-title{
        margin-top: var(--margin-medium);
    }

    .c_index-item .s12.c_slide-hidden{
        order: unset;
        color: var(--color-dark-v60);
        margin: unset;
        display: flex;
    }

    .c_index .c_slide{
        cursor: unset;
    }

    .c_index .c_index-listItem .l10 .l2{
        width: calc(100% / 5);
    }
}


/*****************************************/
/****************** FORM *****************/
/*****************************************/

.c_input, .c_input::placeholder, .c_input-textarea{
    width: 100%;
    text-transform: uppercase;
    color: var(--color-dark-v20);
}

.c_input{
    width: 100%;
    color: var(--color-dark-v60);
}

.c_input-text{
    padding: .9rem 0 .7rem 0;
}

.c_input-textarea{
    min-height: 5ch;
    height: 15ch;
    resize: vertical;
    padding: .9rem 0 .7rem 0;
    text-transform: none;
    font-weight: var(--font-weight-normal);
}

.c_input-submit{
    text-align: left;
    padding: .9rem 0 .7rem 0;
    transition: .3s ease;
}

.c_input-submit:hover{
    cursor: pointer;
    color: var(--color-primary-100);
    padding-left: .5rem;
    transition: .3s ease;
}

.c_input-fake{
    padding: .9rem 0 .7rem 0;
}

.marginEnd{
    border-bottom: 1px solid var(--color-dark-v20);
    margin-bottom: var(--margin-large);
}

/*****************************************/
/**************** COMPARE ****************/
/*****************************************/

.c_compare{
}

/*****************************************/
/****************** TILE *****************/
/*****************************************/

.c_tile{
    min-width: 100%;
    width: auto;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.c_tile-primary{
    height: 70vh;
}

.c_tile-secondary{
    height: 30vh;
}

.c_tile-tertiary{
    height: 20vh;
}

.c_tile_text{
    height: 100%;
    background-color: red;
}

.c_tile_img .c_tile_img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: var(--margin-medium);
    color: var(--color-dark-v60);
}

.c_tile_img .c_tile_img-overlay:hover{
    background-color: rgba(30, 30, 30, 0.4);
    cursor: pointer;
}

.c_tile_img .c_tile_img-background{
    background-color: grey;
    height: 100%;
    min-width: 100%;
}

@media only screen and (min-width: 995px){
    .c_tile-primary{
        height: 100vh;
    }
    
    .c_tile-secondary{
        height: 50vh;
    }
    
    .c_tile-tertiary{
        height: 50vh;
    }
}


/*****************************************/
/**************** SIGNAGE ****************/
/*****************************************/

.c_bubble{
    position: relative;
    height: 74px;
    width: 74px;
    border-radius: 100%;
    background-color: var(--color-primary-100);
}

.bg-primary .c_bubble{
    background-color: white;
}

.bg-secondary .c_bubble{
    background-color: white;
}

.bg-secondary .c_bubble span{
    color: var(--color-dark-v10);
}

.c_bubble .c_bubble-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    color: white;
}

.bg-primary .c_bubble .c_bubble-title{
    color: var(--color-primary-100);
}

/*****************************************/
/***************** IMAGE *****************/
/*****************************************/


/*****************************************/
/*************** IMGFILTER ***************/
/*****************************************/

.c_img-filter{
    width: 100%;
    height: 100%;
}


/*****************************************/
/**************** DIVERS *****************/
/*****************************************/

.c_streak-top{
    border-top: 1px solid var(--color-dark-v20);
}

.c_streak{
    border-top: 1px solid var(--color-dark-v20);
    border-bottom: 1px solid var(--color-dark-v20);
}

.c_carriage{
    margin-bottom: var(--line-height);
}

.c_carriage-2-l{
    margin-bottom: var(--line-height);
}

@media only screen and (min-width: 995px){
    .c_streak-m-horizontal{
        border-left: 1px solid var(--color-dark-v10);
        border-right: 1px solid var(--color-dark-v10);
    }

    .c_carriage-2-l{
        margin-bottom: calc(var(--line-height) * 2);
    }
}