/*****************************************/
/**************** GRID *******************/
/*****************************************/

.l_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.l_container.full{
    height: 100%;
}

.l_container-s-reverse{
    flex-direction: column-reverse;
}

.l_col{
    width: 100%;
    height: auto;
    position: relative;
}

.l_col.s1{
    width: calc(100% / 12);
}

.l_col.s2{
    width: calc(100% / 6);
}

.l_col.s3{
    width: 25%;
}

.l_col.s4{
    width: calc(100% / 3);
}

.l_col.s5{
    width: calc((100% / 12) * 5);
}

.l_col.s6{
    width: 50%;
}

.l_col.s9{
    width: 75%;
}

.l_col.s10{
    width: calc((100% / 6) * 5);
}

.l_col.s12{
    width: 100%;
}

.l_col-unsetOnSmall{
    width: auto;
}

@media only screen and (min-width: 601px){

    .l_container-fullHeight{
        height: 100%;
    }
    
    .l_col.m1{
        width: calc(100% / 12);
    }

    .l_col.m2{
        width: calc(100% / 6);
    }

    .l_col.m3{
        width: 25%;
    }

    .l_col.m4{
        width: calc(100% / 3);
    }

    .l_col.m5{
        width: calc((100% / 12) * 5);
    }
    
    .l_col.m6{
        width: 50%;
    }

    .l_col.m8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.m9{
        width: 75%;
    }

    .l_col.m10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.m12{
        width: 100%;
    }
}

@media only screen and (min-width: 995px){

    .l_container-s-reverse{
        flex-direction: row;
    }
    
    .l_col.l1{
        width: calc(100% / 12);
    }

    .l_col.l2{
        width: calc(100% / 6);
    }

    .l_col.l3{
        width: 25%;
    }

    .l_col.l4{
        width: calc(100% / 3);
    }

    .l_col.l5{
        width: calc((100% / 12) * 5);
    }
    
    .l_col.l6{
        width: 50%;
    }

    .l_col.l8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.l9{
        width: 75%;
    }

    .l_col.l10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.l12{
        width: 100%;
    }
}

@media only screen and (min-width: 1300px){
    .l_col.xl1{
        width: calc(100% / 12);
    }

    .l_col.xl2{
        width: calc(100% / 6);
    }

    .l_col.xl3{
        width: 25%;
    }

    .l_col.xl4{
        width: calc(100% / 3);
    }

    .l_col.xl5{
        width: calc((100% / 12) * 5);
    }
    
    .l_col.xl6{
        width: 50%;
    }

    .l_col.xl8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.xl9{
        width: 75%;
    }

    .l_col.xl10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.xl12{
        width: 100%;
    }
}

/*****************************************/
/*************** DISPLAY *****************/
/*****************************************/

.m0, .l0{
    display: initial;
}

.s0{
    display: none;
}

@media only screen and (min-width: 601px){
    
    .s0, .l0{
        display: initial;
    }

    .m0{
        display: none;
    }
}

@media only screen and (min-width: 995px){

    .s0, .m0{
        display: initial;
    }

    .l0{
        display: none;
    }
}

/*****************************************/
/**************** HEIGHT *****************/
/*****************************************/

.l_sect{
    padding: var(--margin-medium) 0;
}

.l_halfHeight{
    height: 50%;
}

.l_sect-100{
    min-height: 100vh;
}

.l_sect-90{
    min-height: 90vh;
}

.l_sect-66{
    min-height: 66vh;
}

.l_sect-50{
    min-height: 100vh;
}

@media only screen and (min-width: 995px){
    .l_sect-100{
        min-height: 100vh;
    }
    
    .l_sect-90{
        min-height: 90vh;
    }
    
    .l_sect-66{
        min-height: 66vh;
    }
    
    .l_sect-50{
        min-height: 50vh;
    }
}

@media only screen and (min-width: 995px){
    .l_marginLeft-1{
        margin-left: calc(100% / 12);
    }
    
    .l_marginLeft-2{
        margin-left: calc(100% / 6);
    }
    
    .l_paddingLeft-1{
        padding-left: calc(100% / 12);
    }
    
    .l_paddingLeft-2{
        padding-left: calc(100% / 6);
    }

    .l_marginRight-1{
        margin-right: calc(100% / 12);
    }
    
    .l_marginRight-2{
        margin-right: calc(100% / 6);
    }
    
    .l_paddingRight-1{
        padding-right: calc(100% / 12);
    }
    
    .l_paddingRight-2{
        padding-right: calc(100% / 6);
    }
}

/*****************************************/
/*************** POSITION ****************/
/*****************************************/

.l_wrapper-content{
    padding: 0 var(--margin-medium);
}

.l_wrapper-content.left{
    padding: 0 var(--margin-medium);
}

.l_wrapper-content.right{
    padding: 0 var(--margin-medium);
}

.l_wrapper-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.l_wrapper-middle.vertical{
    position: absolute;
    top: 50%;
    left: unset;
    transform: translate(0, -50%);
    width: 100%;
}

@media only screen and (min-width: 601px){

    .l_wrapper-content{
        padding: 0 calc(100vw / 12);
    }

    .l_wrapper-content.left{
        padding: 0 calc(100vw / 12);
    }

    .l_wrapper-content.right{
        padding: 0 calc(100vw / 12);
    }
}

@media only screen and (min-width: 995px){
    .l_wrapper-content{
        padding: 0 calc(100vw / 16);
    }
    
    .l_wrapper-content.left{
        padding: 0 0 0 calc(100vw / 16);
    }

    .l_wrapper-content.right{
        padding: 0 calc(100vw / 16) 0 0;
    }
}


.l_el-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}