/*****************************************/
/**************** GRID *******************/
/*****************************************/

.l_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.l_container-s-reverse{
    flex-direction: column-reverse;
}

.l_col{
    width: 100%;
    height: auto;
}

.l_col.s2{
    width: calc(100% / 6);
}

.l_col.s3{
    width: 25%;
}

.l_col.s4{
    width: calc(100% / 3);
}

.l_col.s5{
    width: calc((100% / 12) * 5);
}

.l_col.s6{
    width: 50%;
}

.l_col.s9{
    width: 75%;
}

.l_col.s10{
    width: calc((100% / 6) * 5);
}

.l_col.s12{
    width: 100%;
}

.l_col-unsetOnSmall{
    width: auto;
}

.l_col-fillOnSmall{
    width: max-content;
}

@media only screen and (min-width: 601px){

    .l_container-fullHeight{
        height: 100%;
    }
    
    .l_col.m1{
        width: calc(100% / 12);
    }

    .l_col.m2{
        width: calc(100% / 6);
    }

    .l_col.m3{
        width: 25%;
    }

    .l_col.m4{
        width: calc(100% / 3);
    }

    .l_col.m5{
        width: calc((100% / 12) * 5);
    }
    
    .l_col.m6{
        width: 50%;
    }

    .l_col.m8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.m9{
        width: 75%;
    }

    .l_col.m10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.m12{
        width: 100%;
    }
}

@media only screen and (min-width: 995px){

    .l_container-s-reverse{
        flex-direction: row;
    }
    
    .l_col.l1{
        width: calc(100% / 12);
    }

    .l_col.l2{
        width: calc(100% / 6);
    }

    .l_col.l3{
        width: 25%;
    }

    .l_col.l4{
        width: calc(100% / 3);
    }

    .l_col.l5{
        width: calc((100% / 12) * 5);
    }
    
    .l_col.l6{
        width: 50%;
    }

    .l_col.l8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.l9{
        width: 75%;
    }

    .l_col.l10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.l12{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px){

}

/*****************************************/
/*************** DISPLAY *****************/
/*****************************************/

.m0, .l0{
    display: initial;
}

.s0{
    display: none;
}

@media only screen and (min-width: 601px){
    
    .s0, .l0{
        display: initial;
    }

    .m0{
        display: none;
    }
}

@media only screen and (min-width: 995px){

    .s0, .m0{
        display: initial;
    }

    .l0{
        display: none;
    }
}

/*****************************************/
/**************** HEIGHT *****************/
/*****************************************/

.l_halfHeight{
    height: 50%;
}


@media only screen and (min-width: 601px){

    .l_sect-100{
        min-height: 100vh;
    }

    .l_sect-90{
        height: 90vh;
    }
    
    .l_sect-66{
        height: 66vh;
    }
    
    .l_sect-50{
        height: 50vh;
    }
}


.ml-1{
    margin-left: calc(100% / 12);
}

.ml-2{
    margin-left: calc(100% / 6);
}

.pl-1{
    padding-left: calc(100% / 12);
}

.pl-2{
    padding-left: calc(100% / 6);
}

/*****************************************/
/*************** POSITION ****************/
/*****************************************/

.l_wrapper-middle-m.l_wrapper-content{
    padding-top: calc(var(--margin-medium) * 2 + var(--line-height) * 2);
}

.l_wrapper-content{
    padding: 0 var(--margin-medium);
}

@media only screen and (min-width: 601px){
    .l_wrapper-content{
        padding: 0 calc(100vw / 12);
    }
    
    .l_wrapper-content-left{
        padding-left: calc(100vw / 12);
    }

    .l_wrapper-middle-m{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media only screen and (min-width: 995px){
    .l_wrapper-content{
        padding: 0 calc(100vw / 16);
    }
    
    .l_wrapper-content-left{
        padding-left: calc(100vw / 16);
    }
}