/*****************************************/
/**************** GRID *******************/
/*****************************************/

.l_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.l_col{
    width: 100%;
    height: auto;
}

.l_col.s3{
    width: 25%;
}

.l_col.s4{
    width: calc(100% / 3);
}

.l_col.s6{
    width: 50%;
}

.l_col.s9{
    width: 75%;
}

.l_col.s12{
    width: 100%;
}

@media only screen and (min-width: 601px){

    .l_container-fullHeight{
        height: 100%;
    }
    
    .l_col.m1{
        width: calc(100% / 12);
    }

    .l_col.m2{
        width: calc(100% / 6);
    }

    .l_col.m3{
        width: 25%;
    }

    .l_col.m4{
        width: calc(100% / 3);
    }
    
    .l_col.m6{
        width: 50%;
    }

    .l_col.m8{
        width: calc((100% / 3) * 2);
    }
    
    .l_col.m9{
        width: 75%;
    }

    .l_col.m10{
        width: calc((100% / 6) * 5);
    }
    
    .l_col.m12{
        width: 100%;
    }
}

@media only screen and (min-width: 995px){

}

@media only screen and (min-width: 1200px){

}

/*****************************************/
/*************** DISPLAY *****************/
/*****************************************/

.hideOnSmall{
    display: none;
}

.displayOnSmall{
    display: initial;
}

@media only screen and (min-width: 601px){

    .hideOnSmall{
        display: initial;
    }

    .displayOnSmall{
        display: none;
    }

    .hideOnMedium{
        display: none;
    }
}

@media only screen and (min-width: 995px){

    .hideOnMedium{
        display: initial;
    }

    .displayOnMedium{
        display: none;
    }

    .hideOnLarge{
        display: none;
    }


}

/*****************************************/
/**************** HEIGHT *****************/
/*****************************************/

.l_halfHeight{
    height: 50%;
}


@media only screen and (min-width: 601px){

    .l_sect-100{
        min-height: 100vh;
    }

    .l_sect-90{
        height: 90vh;
    }
    
    .l_sect-66{
        height: 66vh;
    }
    
    .l_sect-50{
        height: 50vh;
    }
}


.ml-1{
    margin-left: calc(100% / 12);
}

.ml-2{
    margin-left: calc(100% / 6);
}

.pl-1{
    padding-left: calc(100% / 12);
}

.pl-2{
    padding-left: calc(100% / 6);
}

/*****************************************/
/*************** POSITION ****************/
/*****************************************/

.l_wrapper-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.l_wrapper-content{
    padding: 0 calc(100vw / 24)
}

.l_wrapper-content-left{
    padding-left: calc(100vw / 24)
}

.l_wrapper-parallax{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.l_wrapper-parallax > .l_container{
    background-color: white;
    /* box-shadow: 0 1px 5px var(--color-dark-o10); */
    /* margin-bottom: 100vh; */
}


@media only screen and (min-width: 995px){
    .l_wrapper-content{
        padding: 0 calc(100vw / 16)
    }
    
    .l_wrapper-content-left{
        padding-left: calc(100vw / 16)
    }

    /* .l_wrapper-parallax > .l_container{
        margin-bottom: 66vh;
    } */

    .l_wrapper-parallax-empty{
        height: 66vh;
        background-color: transparent;
        user-select: none;
    }
}