@import "reset.min.css";
@import "layer.css";
@import "component.css";

/*****************************************/
/**************** TEXT *******************/
/*****************************************/

h1, h2, h3, h4, h5, li, a, span, p, input, textarea, *::placeholder, figcaption{
    font: var(--font-primary-medium);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-transform: uppercase;
    margin-block: 0;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: var(--color-dark-v60);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1{
    font-size: var(--font-size-headTitle);
    line-height: var(--line-height-headTitle);
    text-transform: none;
    margin-left: -2px;
}

h4{
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--line-height);
}

h5{
    font-weight: var(--font-weight-normal);
    color: var(--color-white-100);
    margin-bottom: var(--line-height);
}

p{

    color: var(--color-dark-v60);
}

input, textarea{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

input::placeholder, textarea::placeholder{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

figcaption{
    font-weight: var(--font-weight-bold);
}

section{
    background-color: white;
}

main{
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 995px){
    
}


/*****************************************/
/*************** COLOR *******************/
/*****************************************/

.primary-100{
    background-color: var(--color-primary-100);
}

.primary-80{
    background-color: var(--color-primary-80);
}

.primary-60{
    background-color: var(--color-primary-60);
}

.color_primary-100{
    color: var(--color-primary-100);
}

.color_primary-80{
    color: var(--color-primary-80);
}

.color_primary-60{
    color: var(--color-primary-60);
}

.secondary-100{
    background-color: var(--color-secondary-100);
    color: var(--color-primary-100);
}

.secondary-80{
    background-color: var(--color-secondary-80);
    color: var(--color-primary-100);
}

.secondary-60{
    background-color: var(--color-secondary-60);
    color: var(--color-primary-100);
}

.color_secondary-100{
    color: var(--color-secondary-100);
}

.color_secondary-80{
    color: var(--color-secondary-80);
}

.color_secondary-60{
    color: var(--color-secondary-60);
}

/*****************************************/
/***************** CUSTOM ****************/
/*****************************************/

header .l_container li.l_col:last-of-type{
    padding-left:0;
}

/*****************************************/
/************ CUSTOM CLASS ***************/
/*****************************************/

/*****************************************/
/************** CUSTOM ID ****************/
/*****************************************/

#bg_img-Home-1{

}

.c_img-fullHeightScreen{
    height: 100vh;
    width: 100%;
    background-color: grey;
}

.c_img-halfHeightScreen{
    height: 50vh;
    width: 100%;
    background-color: grey;
}

#map{
    background-color: var(--color-dark-v20);
}

#map img{
    width: 80%;
    margin: 10%;
}
