@import "reset.min.css";
@import "layer.css";
@import "component.css";

/*****************************************/
/**************** TEXT *******************/
/*****************************************/

h1, h2, h3, h4, h5, li, a, span, p, input, textarea, *::placeholder, figcaption{
    font: var(--font-primary-medium);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-transform: uppercase;
    margin-block: 0;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: var(--color-dark-v60);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

a:visited{
    color: var(--color-dark-v60);
}

h1{
    font-size: var(--font-size-headTitle);
    line-height: var(--line-height-headTitle);
    font-weight: var(--font-weight-bold);
    text-transform: none;
    margin-left: -2px;
    color: var(--color-dark-v60);
}

h2{
    color: var(--color-primary-100);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    text-transform: none;
    margin-bottom: var(--margin-small);
}

h2{
    font-weight: var(--font-weight-bold);
}

h3{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

h4{
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--line-height);
}

h5{
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--line-height);
    color: white;
}

p{
    color: var(--color-dark-v60);
}

input, textarea{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

input::placeholder, textarea::placeholder{
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

figcaption{
    font-weight: var(--font-weight-bold);
}

section{
    background-color: white;
}

main{
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    max-width: 100vw;
}

span{
    text-transform: none;
}

@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 995px){
    
}


/*****************************************/
/*************** COLOR *******************/
/*****************************************/

.primary-100{
    background-color: var(--color-primary-100);
}

.primary-80{
    background-color: var(--color-primary-80);
}

.primary-60{
    background-color: var(--color-primary-60);
}

.color_primary-100{
    color: var(--color-primary-100);
}

.color_primary-80{
    color: var(--color-primary-80);
}

.color_primary-60{
    color: var(--color-primary-60);
}

.secondary-100{
    background-color: var(--color-secondary-100);
    color: var(--color-primary-100);
}

.secondary-80{
    background-color: var(--color-secondary-80);
    color: var(--color-primary-100);
}

.secondary-60{
    background-color: var(--color-secondary-60);
    color: var(--color-primary-100);
}

.color_secondary-100{
    color: var(--color-secondary-100);
}

.color_secondary-80{
    color: var(--color-secondary-80);
}

.color_secondary-60{
    color: var(--color-secondary-60);
}

.bg-primary{
    background-color: var(--color-primary-100);
}

.bg-primary p, .bg-primary h3, .bg-primary h5{
    color: white;
    border-color: white;
}

.bg-secondary{
    background-color: var(--color-dark-v10);
}

.bg-tertiary{
    background-color: var(--color-dark-v60);
}

.bg-tertiary p{
    color: white;
}

/*****************************************/
/***************** CUSTOM ****************/
/*****************************************/

header .l_container li.l_col:last-of-type{
    padding-left:0;
}

#pumptrackterre-img{
    background-image: url('../img/pumptrack_terre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#pumptrackenrobe-img{
    background-image: url('../img/pumptrack_terre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landing-img{
    background-image: url('../img/test.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#gridTester{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    display: none;
}

#gridTester.show{
    display: flex;
}

#gridTester .l_col{
    border-left: 1px solid black;
}

#gridTester .l_col:last-of-type{
    border-right: 1px solid black;
}

/*****************************************/
/************ CUSTOM CLASS ***************/
/*****************************************/

.c_presentation .c_block-tile{
    margin-left: 0;
    padding-left: var(--margin-xsmall);
}

/*****************************************/
/************** CUSTOM ID ****************/
/*****************************************/

#bg_img-Home-1{

}

.c_img-fullHeightScreen{
    height: 100vh;
    width: 100%;
    background-color: grey;
}

.c_img-halfHeightScreen{
    height: 50vh;
    width: 100%;
    background-color: grey;
}

#map{
    background-color: var(--color-dark-v20);
}

#map img{
    width: 80%;
    margin: 10%;
}
