@import "reset.min.css";
@import "layer.css";
@import "component.css";

/*****************************************/
/**************** TEXT *******************/
/*****************************************/

h1, h2, h3, h4, h5, li, a, span, p, input, textarea, *::placeholder{
    font: var(--font-primary-medium);
    margin-block: 0;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: underline;
    color: var(--color-dark-v60);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

h1{

}

h2{
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}

h4{
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1.8rem;
}

h5{
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-white-100);
    margin-bottom: 1.8rem;
}

p{
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--color-dark-v60);
}

input, textarea{
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

input::placeholder, textarea::placeholder{
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v60);
}

section{
    background-color: white;
}

main{
    position: relative;
    z-index: 2;
}


/*****************************************/
/*************** COLOR *******************/
/*****************************************/

.primary-100{
    background-color: var(--color-primary-100);
}

.primary-80{
    background-color: var(--color-primary-80);
}

.primary-60{
    background-color: var(--color-primary-60);
}

.color_primary-100{
    color: var(--color-primary-100);
}

.color_primary-80{
    color: var(--color-primary-80);
}

.color_primary-60{
    color: var(--color-primary-60);
}

.secondary-100{
    background-color: var(--color-secondary-100);
    color: var(--color-primary-100);
}

.secondary-80{
    background-color: var(--color-secondary-80);
    color: var(--color-primary-100);
}

.secondary-60{
    background-color: var(--color-secondary-60);
    color: var(--color-primary-100);
}

.color_secondary-100{
    color: var(--color-secondary-100);
}

.color_secondary-80{
    color: var(--color-secondary-80);
}

.color_secondary-60{
    color: var(--color-secondary-60);
}

/*****************************************/
/***************** CUSTOM ****************/
/*****************************************/


/*****************************************/
/************ CUSTOM CLASS ***************/
/*****************************************/

/* .l_col{
    border: 1px solid black;
} */

#section-landingPage .l_col, header .l_col{
    border: none;
}

/*****************************************/
/************** CUSTOM ID ****************/
/*****************************************/

#bg_img-Home-1{

}

.c_img-fullHeightScreen{
    height: 100vh;
    width: 100%;
    background-color: grey;
}

.c_img-halfHeightScreen{
    height: 50vh;
    width: 100%;
    background-color: grey;
}

#map{
    background-color: var(--color-dark-v20);
}

#map img{
    width: 80%;
    margin: 10%;
}
