:root{
    --color-primary-100: rgb(0, 188, 112, 1);
    --color-primary-80:  rgba(0, 188, 112, .8);
    --color-primary-60:  rgba(0, 188, 112, .6);
    --color-dark-100: rgba(0, 0, 0, 1);
    --color-dark-o80: rgba(0, 0, 0, .8);
    --color-dark-o60: rgba(0, 0, 0, .6);
    --color-dark-o40: rgba(0, 0, 0, .4);
    --color-dark-o20: rgba(0, 0, 0, .2);
    --color-dark-o10: rgba(0, 0, 0, .1);
    --color-dark-v80: rgba(0, 0, 0);
    --color-dark-v60: rgba(79, 79, 79);
    --color-dark-v40: rgba(130, 130, 130);
    --color-dark-v20: rgba(189, 189, 189);
    --color-dark-v10: rgba(242, 242, 242);
    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-o80: rgba(255, 255, 255, .8);
    --color-white-o60: rgba(255, 255, 255, .6);
    --color-white-o40: rgba(255, 255, 255, .4);
    --color-white-o20: rgba(255, 255, 255, .2);
    --color-white-o10: rgba(255, 255, 255, .1);
    --margin-small: 1.6rem;
    --margin-medium: 2.4rem;
    --margin-large: 3.6rem;
    --font-size-small: 1.4rem;
    --font-size-large: 4rem;
    --line-height-small: 1.6rem;
    --line-height-large: 4.4rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-primary-medium: normal normal 500 1.4rem forma-djr-micro, sans-serif;
    --font-primary-bold: normal 700 forma-djr-micro, sans-serif;

}