:root{
    /* COLOR */
    --color-primary-100: #00BC70;
    --color-dark-100: #000000;
    --color-dark-v80: #212121;
    --color-dark-v60: #4F4F4F;
    --color-dark-v50: #646464;
    --color-dark-v40: #828282;
    --color-dark-v20: #BDBDBD;
    --color-dark-v10: #F2F2F2;

    --color-dark-o60: rgba(0,0,0,.6);


    /* MARGIN */
    --margin-xxsmall: .4rem;
    --margin-xsmall: .8rem;
    --margin-small: 1.4rem;
    --margin-medium: 2.4rem;
    --margin-large: 3.2rem;
    --margin-xlarge: 4.8rem;

    --margin-xsmall-negative: -.8rem;


    /* TEXT */
    --font-size: 1.3rem;
    --line-height: 1.5rem;
    --font-size-bigText: 1.6rem;
    --line-height-bigText: 1.8rem;
    --font-size-title: 2rem;
    --line-height-title: 2.2rem;
    --font-size-headTitle: 4rem;
    --line-height-headTitle: 4.4rem;
    --font-size-bigLink: 2.8rem;
    --line-height-bigLink: 4.4rem;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-primary-medium: normal normal 500 1.4rem forma-djr-micro, sans-serif;
}

@media only screen and (min-width: 601px){
    :root{
        /* TEXT */
        --font-size-bigLink: 4rem;
        --line-height-bigLink: 5.4rem;
    }
}

@media only screen and (min-width: 995px){
    :root{

        /* MARGIN */
        --margin-xxsmall: .8rem;
        --margin-xsmall: 1.2rem;
        --margin-small: 1.6rem;
        --margin-medium: 2.8rem;
        --margin-large: 3.6rem;
        --margin-xlarge: 5.2rem;

        --margin-xsmall-negative: -1.2rem;


        /* TEXT */
        --font-size: 1.4rem;
        --line-height: 1.6rem;
        --font-size-bigText: 1.7rem;
        --line-height-bigText: 1.9rem;
        --font-size-title: 2.8rem;
        --line-height-title: 3.2rem;
        --font-size-bigTitle: 3.4rem;
        --line-height-bigTitle: 3.6rem;
        --font-size-bigLink: 6rem;
        --line-height-bigLink: 9rem;
    }
}